#enable PHP error logging
php_flag log_errors on
php_value error_log /home/students/mmatze/log/PHP_errors.log
# prevent access to PHP error log via a browser
<Files PHP_errors.log>
Order allow,deny
Deny from all
Satisfy All
</Files>
