#space{
	float:left;
	display:block;
	width:25%;
	height:70%;
}
#info1{
	float:left;
	display:block;
	width:100%;
	height:10%;
}
#info2{
	float:left;
	display:block;
	width:100%;
	height:90%;
}
#gameboard{
	float:left;
	display:block;
	width:100%;
	height:90%;
}
#board{
	float:left;
	display:block;
	width:33%;
	height:33%;
}
#player{
	float:left;
	display:block;
	width:20%;
	height:25%
}
#tl{
	float:left;
	display:block;
	width:45%;
	height:100%;
}
#you{
	float:left;
	display:block;
	width:55%;
	height:100%;
}
#id{
	float:left;
	display:block;
	width:50%;
	height:100%;
}
#tl2{
	float:left;
	display:block;
	width:50%;
	height:100%;
}
#turn{
	float:left;
	display:block;
	width:45%;
	height:100%;
}
#winner{
	float:left;
	display:block;
}
